@import '../../../styles/vars.scss';
@import '../../../styles/_mixins.scss';

.imageUploader {
  @include display(inline-flex);
  @include marginB(20px);

  // @include padding(0 0 20px);
  // background-color: pink;

  .thumb {
    @include marginR(10px);
    width: 50px;
    height: 26px;
    overflow: hidden;
    @include flexX(center);
    background-color: teal;
  }

  label {
    display: inline-block;
    text-align: center;
    @include buttonStyle();

    .fileInput {
      display: none;
    }
  }
}
