@import '@/styles/imports';

textarea.textarea {
  display: block;
  padding: 30px 20px;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-open-sans);
  font-size: 16px;
  line-height: 1.6;
  color: $colorBlack;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;

  &::placeholder {
    color: $colorBlack;
  }

  &:focus {
    &::placeholder {
      opacity: 0.2;
    }
  }

  @include media-screen('min', $tablet) {
    padding: 30px 30px;
    font-size: 18px;
  }
}
