@import '../../styles/imports';

.container {
  &.home,
  &.admin {
    padding: 5px;
    width: 100%;
    height: $viewportHeight;

    @include media-screen('min', $tablet) {
      padding: 20px;
    }

    .bg {
      padding: 20px;
      width: 100%;
      height: 100%;
      background: $bgGradient;
      border-radius: 8px;

      > .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }

  // ------ Dashboard:

  &.dashboard,
  &.alticle {
    position: relative;
    padding: 60px 0 0;

    @include media-screen('min', $tablet) {
      padding: 60px 20px 0;
    }

    .bg {
      width: 100%;
      height: 100%;

      > .content {
        margin: 0 auto;
        max-width: $dashboardMaxWidth;
        background: $bgGradient;
        overflow-y: scroll;

        @include media-screen('min', $tablet) {
          border-radius: 8px;
        }
      }
    }
  }
}
