@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.container {
  margin: 0 auto;
  max-width: $max;

  &.main {
    @include padding(0 15px);

    @include minWidth($mobile) {
      // background-color: palevioletred;
      max-width: $mobile - 30;
    }

    @include minWidth($tablet) {
      @include padding(0 20px);
      // background-color: teal;
      max-width: $tablet - 40;
    }

    @include minWidth($desktop) {
      @include padding(0 30px);
      // background-color: tomato;
      max-width: $desktop - 60;
    }
  }
}
