@import './animations/index';
@import './vars';

%extends-flex-xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%extends-absolut-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%extends-before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 6px;
  height: 6px;
}

%extends-text-hover-white {
  &:hover {
    color: $colorWhite;
    cursor: pointer;
  }
}

// ------ Transitions:

%extends-transition-03s {
  transition: $ease03s;
}

// ----------- overflow:

%extends-overflow-hidden {
  overflow: hidden;
}

%extends-overflow-y-scroll {
  overflow-y: scroll;
}

%extends-white-space-nowrap {
  white-space: nowrap;
}

%extends-hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
  }
}

// - line-clamp

%extends-webkit-box-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @extend %extends-overflow-hidden;
}

%extends-line-clamp-1 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 1;
}

%extends-line-clamp-2 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 2;
}

%extends-line-clamp-3 {
  @extend %extends-webkit-box-vertical;
  -webkit-line-clamp: 3;
}

%extends-three-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// ------ Animations:

%extends-animation-bounce-top {
  -webkit-animation: bounce-top 0.9s both;
  animation: bounce-top 0.9s both;
}

%extends-animation-slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%extends-animation-slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%extends-animation-slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%extends-animation-tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

%extends-animation-shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

%extends-animation-flicker {
  -webkit-animation: flicker-1 2s linear infinite both;
  animation: flicker-1 2s linear infinite both;
}

// ------ MDStandart:

%extends-md-standart {
  > div {
    font-size: 16px;
    color: $colorBlack;
    background-color: transparent;

    h1 {
      display: none;
    }

    > H2,
    H3,
    p,
    strong,
    code,
    ol,
    ul {
      color: $colorBlack;
    }

    h2,
    h3 {
      border-bottom: 1px solid $colorBlack;

      > a {
        display: none;
      }
    }

    img {
      display: block;
    }

    code {
      background-color: var(--message-text-code-dg);
    }

    blockquote {
      border-left: 4px solid $colorBlack;
    }

    ol,
    ul {
      > li {
        color: $colorBlack;
      }
    }

    table {
      > thead {
        > tr {
          background-color: transparent;

          // > th {} // *
        }
      }

      > tbody {
        > tr {
          background-color: transparent;

          &:nth-child(2n) {
            background-color: transparent;
          }

          > td {
            background: transparent;
          }

          // > th {} // *
        }
      }
    }
  }
}
