@import './extends';

@mixin media-screen($var, $w) {
  @if $var == 'min' {
    @media screen and (min-width: $w) {
      @content;
    }
  } @else if $var == 'max' {
    @media screen and (max-width: $w) {
      @content;
    }
  }
}

@mixin media-screen-range($minWidth, $maxWidth) {
  @media screen and (min-width: $minWidth) and (max-width: $maxWidth) {
    @content;
  }
}

@mixin basic-palette-black($var, $value: 1) {
  @if $var == 'bg' {
    background-color: rgba(0, 0, 0, $value);
  } @else if $var == 'color' {
    color: rgba(0, 0, 0, $value);
  }
}

@mixin basic-palette-white($var, $value: 1) {
  @if $var == 'bg' {
    background-color: rgba(255, 255, 255, $value);
  } @else if $var == 'color' {
    color: rgba(255, 255, 255, $value);
  }
}
