@import '../../theme';
@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.navigation {
  .list {
    @include padding(0);
    margin: 0;
    list-style: none;

    .item {
      &.header {
        &:not(:last-child) {
          @include minWidth($tablet) {
            margin-right: 3px;
          }
        }
      }

      .button {
        font-weight: 500;
        white-space: nowrap;
        @include transition($s04);
        cursor: pointer;

        &.header {
          @include padding(20px 25px);

          @include themeHandler() {
            &:hover {
              background-color: var(--background-hover);
            }
          }
        }

        &.footer {
          @include padding(15px 12px);
          @include margin(0 3px);

          @include minWidth($tablet) {
            @include padding(20px 25px);
          }

          @include themeHandler() {
            &:hover {
              color: var(--button);
            }
          }
        }
      }
    }
  }

  // ----------------- Nav header

  &.header {
    margin-right: 25px;

    .list {
      @include minWidth($tablet - 249) {
        @include flexX(center);
      }
    }

    &.mobile {
      margin-right: 0;

      .list {
        @include display(block);

        .item {
          @include fontSize(24px);

          &:not(:last-child) {
            margin-bottom: 10px;
          }

          .button {
            @include padding(15px 25px);
          }
        }

        &.landscape {
          @include flex();
          @include flexWrap(wrap);

          .item {
            @include fontSize(18px);

            &:not(:last-child) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  // ----------------- Nav footer

  &.footer {
    @include maxWidth($tablet - 1) {
      margin-bottom: 20px;
    }

    .list {
      @include maxWidth($mobile - 41) {
        margin: 0 auto;
        width: 135px;
      }

      @include minWidth($mobile - 40) {
        @include flexX(center);
      }

      .item {
        @include maxWidth($tablet) {
          @include fontSize(16px);
        }
      }
    }
  }
}
