@import '../../theme';
@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.navigation {
  .list {
    @include padding(0);
    margin: 0;
    list-style: none;

    @include minWidth($tablet - 249) {
      @include flexX(center);
    }

    .item {
      &.header {
        &:not(:last-child) {
          @include minWidth($tablet) {
            margin-right: 3px;
          }
        }
      }

      .button {
        @include padding(20px 25px);
        font-weight: 500;
        @include transition($s04);

        &.header {
          @include themeHandler() {
            &:hover {
              background-color: var(--background-hover);
            }
          }
        }

        &.footer {
          @include maxWidth($tablet - 250) {
            @include fontSize(22px);
            @include padding(5px 25px);
          }

          @include themeHandler() {
            &:hover {
              color: var(--button);
            }
          }
        }
      }
    }
  }

  &.header {
    margin-right: 25px;

    &.mobile {
      margin-right: 0;

      .list {
        @include display(block);

        .item {
          @include fontSize(26px);

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        &.landscape {
          @include flex();
          @include flexWrap(wrap);

          .item {
            @include fontSize(18px);

            &:not(:last-child) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.footer {
    margin-bottom: 20px;

    @include maxWidth($tablet - 250) {
      margin-bottom: 100px;

      .list {
        .item {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }

    @include minWidth($tablet) {
      margin-bottom: 0;
    }
  }
}
