@import '@/styles/imports';

header.header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 60px;
  user-select: none;

  @include media-screen('min', $tablet) {
    padding: 0 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 15px;
    margin: 0 auto;
    max-width: $dashboardMaxWidth;
    min-height: 60px;
  }
}
