@import '../../../styles/imports';

main.main {
  // ------ Container is here!

  section.adminSection {
    display: flex;

    .content {
      padding-bottom: 40px;
      width: 220px;

      > h1 {
        text-align: center;
        opacity: 0;
        font-size: 220px;
        line-height: 250px;

        &.title {
          opacity: 1;
          @extend %extends-animation-bounce-top;
        }
      }

      // ------ Navigation:

      > nav.navigation {
        padding-left: 6px;
        margin-bottom: 30px;

        > ul.navList {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          border-right: 3px solid $mainColor;
          opacity: 0;

          &.links {
            opacity: 1;

            > li.navItem {
              @extend %extends-animation-slide-left;

              > span.linkWrap {
                font-size: 16px;

                > a {
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      // ------ Form Input:

      > form.keyForm {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        opacity: 0;

        &.key {
          opacity: 1;

          > input.input {
            @extend %extends-animation-slide-left;
            padding: 0 10px;
            width: 170px;
            height: 40px;
            font-size: 22px;
            font-weight: 600;
            background-color: transparent;
            border: none;
            border-bottom: 3px solid $mainColor;
            border-radius: 0;
            caret-color: $colorBlack;
            outline: none;

            &::placeholder {
              font-size: 16px;
              font-weight: 200;
              @include basic-palette-black('color', 0.7);
            }
          }

          > button.submitButton {
            @extend %extends-flex-xy-center;
            min-width: 40px;
            height: 40px;
            font-size: 16px;
            color: $colorRose;
            border-radius: 6px;
            background-color: $colorBlue;

            &.t3s {
              @extend %extends-transition-03s;
            }

            cursor: pointer;

            &:hover {
              color: $colorBlue;
              background-color: $colorRose;
            }
          }

          &.error {
            @extend %extends-animation-shake-horizontal;

            > input.input {
              color: $colorRed;
            }
          }
        }
      }
    }
  }

  // ------ Dashboard is here!
}
