@import '../../styles/mixins';

.dashboardWrap {
  .heading {
    @include marginB(30px);
    @include padding(5px);

    border: 1px solid $middleGrey;
    border-radius: 6px;
  }

  .list {
    list-style: none;
    @include padding(0);
    @include margin(0);

    .item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      // .cardLink {
      .card {
        @include flex();
        @include padding(5px);
        // background-color: palevioletred;
        border: 1px solid $middleGrey;
        border-radius: 4px;

        .thumb {
          @include flexX(center);
          margin-right: 15px;
          // display: flex;
          // justify-content: center;
          width: 29%;
          height: 100px;
          overflow: hidden;
          border-radius: 3px;
        }

        .metaWrap {
          width: 65%;

          .metaTitle {
            @include padding(5px 0 0 0);
            @include marginB(12px);
            font-weight: 600;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;

            @include themeHandler() {
              color: var(--text);
            }
          }

          .infoWrap {
            @include flex();

            .info {
              @include flexDirection(column);
              @include fontSize(13px);
              color: $middleGrey;

              &:nth-child(1) {
                @include paddingR(10px);
                border-right: 1px solid $middleGrey;
              }

              &:nth-child(2) {
                @include paddingL(10px);
              }

              .infoTitle {
                font-weight: 600;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
      // }
    }
  }
}
