@import '@/styles/imports';

footer.footer {
  width: 100%;
  min-height: 60px;

  @include media-screen('min', $tablet) {
    padding: 0 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 15px;
    margin: 0 auto;
    max-width: $maxWidth;
    min-height: $footerHeight;
    user-select: none;

    > span.copyright {
      margin: 0 auto;
      font-family: var(--font-share-tech);
      font-size: 14px;
      @include basic-palette-white('color', 0.3);
      letter-spacing: 3px;
      text-transform: uppercase;
      // opacity: 0.2;

      > a.logo {
        margin-right: 5px;

        > span {
          @extend %extends-transition-03s;
          font-family: var(--font-share-tech);
          @include basic-palette-white('color', 0.3);
          // transition: $ease03s;

          &:hover {
            color: $colorBlue;
          }
        }
      }

      > span.copySymbol {
        font-family: var(--font-share-tech);
        @include basic-palette-white('color', 0.3);
      }
    }
  }
}
