@import '@/styles/imports';

.reusable {
  @extend %extends-transition-03s;
  @include basic-palette-white('color', 0.3);

  &:hover {
    color: $colorBlue;
  }
}

footer.footer {
  width: 100%;
  min-height: 60px;

  @include media-screen('min', $tablet) {
    padding: 0 20px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 15px;
    margin: 0 auto;
    max-width: $maxWidth;
    min-height: $footerHeight;
    user-select: none;

    > span.copyright {
      margin: 0 auto;
      @include basic-palette-white('color', 0.3);
      text-transform: capitalize;

      > a.logo {
        margin-right: 5px;

        > span {
          @extend .reusable;
        }
      }

      > span.copySymbol {
        @include basic-palette-white('color', 0.3);
      }

      > a.year {
        > time {
          @extend .reusable;
        }
      }
    }
  }
}
