@import '../../styles/vars.scss';
@import '../../styles/_mixins.scss';

.headerFieldsWrap {
  @include themeHandler() {
    .infoText {
      @include fontSize(16px);
      font-weight: 600;
      color: $middleGrey;

      @include minWidth($tablet) {
        @include fontSize(18px);
      }
    }

    .headerFields {
      // @include flexDirectionY(column, flex-start);
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      @include padding(20px 0);
      // background-color: teal;
      width: 100%;

      .field {
        @include padding(10px);
        width: 100%;
        margin-bottom: 20px;
        max-width: calc(100% - 20px);
        font-family: Arial, sans-serif;
        @include fontSize(16px);
        background-color: transparent;
        border: none;
        // background-color: pink;
        color: var(--text);
        @include transition($s04);
        outline: none;

        &.title {
          width: 100%;
          border-bottom: 1px solid $middleGrey;
        }

        &.description {
          height: 300px;
          border: 1px solid $middleGrey;
          border-radius: 6px;
          resize: none;

          @include minWidth($tablet) {
            height: 150px;
          }

          @include minWidth($desktop) {
            height: 120px;
          }
        }

        &:focus {
          border-color: var(--inputFocus);

          &::placeholder {
            @include transition($s04);
            color: transparent;
          }
        }
      }
    }
  }
}

.imageUploader {
  label {
    @include buttonStyle();

    .thumb {
      background-color: teal;
    }

    .fileInput {
      display: none;
    }
  }
}
