@import '../../styles/_mixins.scss';

.addFormWrap {
  background-color: pink;

  .thumb {
    background-color: red;
  }

  .addForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: teal;

    label {
      @include buttonStyle();

      .fileInput {
        display: none;
      }
    }
  }
}
