@import '@/styles/imports';

button.return {
  @extend %extends-transition-03s;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 0 0 3px;
  width: 40px;
  height: 40px;
  background-color: $colorBlue;
  cursor: pointer;

  @include media-screen('min', $max + 1px) {
    background-color: transparent;
  }

  > svg {
    width: 34px;
    height: 34px;

    > g {
      @extend %extends-transition-03s;
      stroke: $colorBlack;
    }
  }

  &:hover {
    > svg > g {
      stroke: $colorRose;
    }
  }
}

// ------ Preview:

.preview {
  @extend %extends-hide-scrollbar;
  padding: 20px;
  overflow: scroll;
  background: $bgGradient;

  @include media-screen('min', $tablet - 150px) {
    height: 100vh;
  }

  // MDEditor:
  @extend %extends-md-standart;
}

// ------ Editor:

.editor {
  @include media-screen('min', $tablet - 250px) {
    height: 100vh;
  }

  > textarea {
    @extend %extends-hide-scrollbar;
    padding: 20px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $colorWhite;
    background-color: transparent;
    caret-color: $colorWhite;
    border: none;
    outline: none;
    resize: none;
  }
}

// ------ Button:

button.mdSimulatorButton {
  @extend %extends-flex-xy-center;
  width: 100%;
  height: 100%;

  > svg {
    width: 35px;
    height: 35px;

    > g {
      @extend %extends-transition-03s;
      stroke: $colorRose;
    }
  }

  &:hover {
    cursor: pointer;

    > svg > g {
      stroke: $colorBlue;
    }
  }
}
