@import '../../theme';

.switchButton {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  &.dark {
    @include theme('light');

    span {
      background-color: var(--button);

      &:hover {
        background-color: var(--button-hover);
      }

      &:before {
        background-color: var(--secondary-background);
      }
    }
  }

  &.light {
    @include theme('dark');

    span {
      background-color: var(--button);

      &:hover {
        background-color: var(--button-hover);
      }

      &:before {
        background-color: var(--secondary-background);
      }
    }
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // transition: $s04;
    transition: $cubic;
    border-radius: 34px;
  }

  span:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    // transition: $s04;
    transition: $cubic;
    border-radius: 50%;
  }

  input:checked + span:before {
    transform: translateX(26px);
  }
}
