@import '../../../../styles/imports';

// ------ Container is here!

section.dashboard {
  display: grid;
  grid-template-rows: 100vw auto;
  min-height: calc($viewportHeight - 10px);
  width: 100%;

  @include media-screen('min', $mobile) {
    grid-template-rows: 390px auto;
    min-height: calc($viewportHeight - 40px);
  }

  @include media-screen('min', $tablet) {
    grid-template-rows: 450px auto;
    min-height: calc($viewportHeight - 40px);
  }

  .hero {
    position: relative;
    overflow: hidden;

    .heroImage {
      object-fit: cover;
      opacity: 0.15;
    }

    // ------ Title:

    > h1.title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      font-size: 28px;
      line-height: 1.2;
      transform: translate(-50%, -50%);

      @include media-screen('min', $mobile - 40) {
        font-size: 34px;
      }

      @include media-screen('min', $tablet) {
        width: 70%;
        font-size: 46px;
      }
    }

    > input {
      position: absolute;
      left: 0;
      padding: 5px;
      width: 100%;
      font-size: 14px;
      outline: none;
      border: none;

      &.titleInput {
        bottom: 25px;
        background-color: $colorRose;
      }

      &.imageInput {
        bottom: 0;
        background-color: $colorBlue;
      }
    }
  }

  // ------ Text:

  .textBlock {
    textarea.textarea {
      display: block;
      padding: 30px;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      resize: none;
    }
  }
}
