@import '../../../../styles/imports';

// ------ Container is here!

section.dashboard {
  display: grid;
  grid-template-rows: $thumbHeight auto;
  min-height: calc($viewportHeight - 10px);
  width: 100%;

  @include media-screen('min', $tablet) {
    min-height: calc($viewportHeight - 40px);
  }

  .hero {
    position: relative;
    overflow: hidden;

    .thumb {
      position: relative;
      margin: 0 auto;
      max-width: $dashboardMaxWidth;
      min-height: $thumbHeight;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .heroImage {
        position: absolute;
        min-width: 600px; // $thumbHeight
        opacity: 0.1;
      }
    }

    // ------ Title:

    > h1.title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80%;
      font-size: 34px;
      line-height: 1.2;
      transform: translate(-50%, -50%);

      @include media-screen('min', $tablet) {
        width: 70%;
        font-size: 46px;
      }
    }

    > input.titleInput {
      position: absolute;
      bottom: 25px;
      left: 0;
      padding: 5px;
      width: 100%;
      background-color: $colorRose;
      // // background-color: transparent;
      outline: none;
      border: none;
      resize: none;
    }

    > input.imageInput {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px;
      width: 100%;
      background-color: $colorBlue;
      // // background-color: transparent;
      outline: none;
      border: none;
      resize: none;
    }
  }

  // ------ Text:

  .textBlock {
    textarea.textarea {
      display: block;
      padding: 30px;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      resize: none;
    }
  }
}

/*

> div.preview {
    > div {
      background-color: transparent;
    }
  }

  > div {
    .textarea {
      outline: none;

      border: 1px solid $mainColor;
      padding: 10px;
      background-color: transparent;
      min-width: 100%;
      min-height: 300px;
    }
  }

  */
