@import '../../theme/index.scss';
@import '../../styles/_mixins.scss';

.crumbs {
  @include themeHandler() {
    .crumbsList {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      .crumbsItem {
        display: flex;

        .slash {
          padding: 0 10px;
          @include crumbs();
        }

        .crumb {
          display: block;
          @include crumbs();
        }

        h2 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 160px;
          -webkit-text-overflow: ellipsis;
          -ms-text-overflow: ellipsis;
        }
      }
    }
  }
}
